/* Fontið mitt */
@font-face {
    font-family: 'MyCustomFont';
    src: url('font/mycustomfont.ttf');
 
}
@font-face {
    font-family: 'MyCustomFont2';
    src: url('font/Art\ Brewery.ttf');
  }
  @font-face {
    font-family: 'MyCustomFont3';
    src: url('font/Axtaja\ Elang.ttf');
  }
@font-face {
    font-family: 'MyCustomFont4';
    src: url('font/BillionStars.ttf');
    font-weight: normal;
    font-style: normal;
}
/* bakgrunnur og ýmislegt annað */
body {
  margin: 0 auto;
  text-shadow: 2px 2px black;
  color: white;
  background-image: url('pics/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
/* ýmislegt */    
a {
  color: rgb(224, 211, 224);
  display: block;
  margin-bottom: 10px;
}
.center {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
nav {
  text-align: center;
}

.font1 {
    font-family: MyCustomFont, sans-serif;
}

.font2 {
    font-family: MyCustomFont2, sans-serif;
}

.font3 {
    font-family: MyCustomFont3, sans-serif;
}

.font4 {
    font-family: MyCustomFont4, sans-serif;
}
h2 {
    font-size: 1.5vw;
}














/* NOTA gradient fyrir background color */
/* nota box-shadow til að skyggja border í boxum */
/* position fixed */



/* Þetta er header síðunnar með fyrirsögn og verkefni6 dálkunum */
.containerheader {
    margin: 10px;
    display: grid;

    grid-template-columns: 60% auto auto;
    grid-template-rows: 1fr;
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,5);

}
.innihaldheader1 {
    margin: 10px;
    font-size: 6vw;
    font-family: MyCustomFont4, sans-serif;
    font-weight: lighter;

    padding: 25px;
}
.innihaldheader2 {
    margin: 10px;
    font-size: 3vw;
    font-family: MyCustomFont4, sans-serif;
    font-weight: lighter;
    align-items: center;
    text-align: center;

    align-items: start;

}
.mp3 {
    font-size: 4vw;
}




/* Banner síðunnar */
.containerbanner {
    display: grid;
    
}
.bannerefst {
    max-width: 100%;
    margin: 10px;
    padding-right: 25px;
    box-sizing: border-box;
}





/* Hérna er menu síðunnar sem er efst. Container og innihald */
.containermenuefst {    
    margin: 10px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,5);
 
}
.innihaldmenuefst {
    display: grid;
    background-color: rgba(255, 255, 255, 0.55);
    margin: 10px;
    border-radius: 50%;
    border: 1px solid #ccc;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}








/* Þetta er aðal texti síðunnar */
.containermain {
    display: grid;
    margin: 10px;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    font-size: 2vw;
    margin-top: 50px;
    height:100%;
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0px 16px 26px 16px rgba(0,0,0,5);


}
.containerblockquote {
    display: grid;
    margin: 10px;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    font-size: 2vw;
    margin:5px;
    font-style: MyCustomFont4;
    font-size: 1.5vw;
    height: 100%;
    max-width: 95%;
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0px 16px 26px 16px rgba(0,0,0,5);
    margin-right: 75px;
    margin-left: 75px;
  }

.innihaldmain {
    max-width: 95%;
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0px 16px 26px 16px rgba(0,0,0,5);
    height: 100%;
    width: 100%;
    margin-right:50px;
    margin-left:50px;
    padding:15px;
    align-items: center;
    justify-content: center;
    justify-self: center;
    text-align: justify;
}
.innihaldmain2 {
    max-width: 95%;
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0px 16px 26px 16px rgba(0,0,0,5);
    height: auto;

    align-items: center;
    justify-content: center;
    justify-self: center;
    text-align: justify;
}
.container2 {
    display: grid;
    margin: 10px;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    font-size: 2vw;
    margin-top: 50px;


}




/* Container avatar 1 sem geymir um mynd nr 1 og trailer af henni */
.containeravatar1 {
    margin-top: 75px;
    display: grid;
    align-items: center;
    grid-template-columns: 55% 45%;
    grid-template-rows: 1fr;
    font-size: 40px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0px 16px 26px 16px rgba(0,0,0,5);
    min-height: 430px;
}
.innihaldavatardalkur1 {
    text-align: center;
    text-justify: justify;
    font-size: 30px;
    height: 100%;
    width: 100%;
    word-wrap: break-word;

}
.innihaldavatardalkur2 {
    text-align: center;
    text-justify: justify;
    height: 100%;
    width: 100%;
    padding: 100px;
    max-width: 560px;
    max-height: 315px;
}



/* Container og innihald af avatar 2 */
.containeravatar2 {  
    display: grid;
    margin-top: 15px;
    align-items: center;
    grid-template-columns: 45% 55%;
    grid-template-rows: 1fr;
    font-size: 40px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0px 16px 26px 16px rgba(0,0,0,5);
    min-height: 430px;
}
.innihaldavatar2dalkur1 {
    text-align: center;
    text-justify: justify;
    height: 315px;
    width: 560px;
}
.innihaldavatar2dalkur2 {
    text-align: center;
    text-justify: justify;
    font-size: 30px;
    height: 100%;
    width: 100%;

}


/* Container af avatar 3... innihald css nýtist úr avatar 1 innihald */
.containeravatar3 {
    display: grid;
    margin-top: 15px;
    align-items: center;
    grid-template-columns: 55% 45%;
    grid-template-rows: 1fr;
    font-size: 40px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0px 16px 26px 16px rgba(0,0,0,5);
    min-height: 430px;
}


/* Container og innihald fyrir leikara og leikstjóra dálkana */
.container4dalkar {
    display: grid;
    margin-top: 15px;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    font-size: 40px;
    width: 100%;
    align-content:center;
    min-height: 430px;
    justify-content: center;
}

.innihald4dalkar {
    margin: 10px auto;
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0px 16px 26px 16px rgba(0,0,0,5);
    text-align: center;
}
.myndir {
    height:100%;
    width:100%;
}





/* Allur kóði tengdur drop down menu og mappinu */
.containermenu {
    margin: 10px;
    display: grid;

    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    background-color: rgba(255, 255, 255, 0.15);
    align-items: start;

}
.innihaldmap {
    margin: 10px;
    height: 300px auto;
    width: 400px auto;
}




.dropdown {
    position: relative;
    display: grid;
    margin: 10px;
    font-size: 16px;  
}

.dropdown-btn {
    align-items: start;
    top: 0;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.45);
    border-radius: 10px;
    border: none;
}

.dropdown-content {
    display: grid;
    visibility: hidden;
    width: 100%;
    position:absolute;
    top: 100%;
    margin-top: -5px;
    align-items: center;
}

.dropdown:hover .dropdown-content {
    display: block;
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.5s ease-in-out;

}

.dropdown-item {
    display: grid;
    background-color: rgba(255, 255, 255, 0.55);
    border: 1px solid #ccc;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-align: center;
    border-radius: 10px;
    padding: 10px;
 
}


.dropdown:hover .dropdown-content {
    display: block;
    visibility: visible;
    opacity: 1;
    align-items: center;
}

.dropdown:hover .dropdown-item {
    display: grid;
}



  