<!-- 
/* ########## Hreiðar Pétursson ########## */
/*  ######## Vefhönnun Áfanginn ########  */
/*   ######### Skilaverkefni 3 ########  */
/*    ########   Apríl 2024   ########  */
-->


{% extends 'base.html' %}

{% block content %}
  <!-- Container for the Upcoming Events and event display -->
  
    <div class="row p-3">
        <h1>Random Movies & TV Shows</h1>
    </div>

    <div class="events-container mt-3">

      {% for event in events %}
      <!-- Each event card will be this -->
      <div class="col-sm-6 col-md-4 mb-4">
        <div class="card h-100 grey800">
          <img src="{{ url_for('static', filename=event.image) }}" class="card-img-top img-fluid" alt="{{ event.name }}">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title bold-text">{{ event.name }}</h5>
            <p class="card-text">{{ event.description }}</p>
            
            <div class="mt-auto">
              <p class="card-text semi-bold-text">Price: {{ event.price }} kr.-</p>
              <p class="card-text semi-bold-text">Date: {{ event.date }}</p>
              <p class="card-text semi-bold-text">Location: {{ event.location.place }}</p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}


    </div>
 















{% endblock %}


