



<!-- Storage codes -->

    <!-- I include this only to be 1000% sure bootstrap's css works -->
    <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"> -->
    
    <!--  I created this one only so i can use the bootstrap variables and compiled the scss to css  -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> -->
    <!--
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/extras.css') }}">
    -->

            <!-- Include Swiper's JS --> <!-- Don't think i will use that code copilot... -->
        <!-- <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script> -->
        <!-- <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script> -->
<!-- 
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
-->













<!-- Breadcrumbs storage nav from base.html -->
<!--
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              {% for crumb in session.breadcrumbs %}
                {% if loop.last %}
                  <li class="breadcrumb-item active" aria-current="page">{{ crumb.title }}</li>
                {% else %}
                  <li class="breadcrumb-item"><a href="{{ crumb.url }}">{{ crumb.title }}</a></li>
                {% endif %}
              {% endfor %}
            </ol>
          </nav>
-->      
          
