<!--
//////////////////////////////////// - \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
/////////////////        Author: Hreiðar Pétursson        \\\\\\\\\\\\\\\\
///////////////         Course: Vefhönnun Áfangi 3         \\\\\\\\\\\\\\\
/////////////               - Skilaverkefni 3 -             \\\\\\\\\\\\\\
/////// Description: Error page shown when a user navigates to an  \\\\\\\
////       URL that does not correspond to an existing route.         \\\\
//           Manages user redirection and error reporting.              \\
/////////////     to maintain smooth navigation flow.      \\\\\\\\\\\\\\\
-->

<!-- Injected information:
    return render_template('404/404.html'), 404
-->

{% extends 'base.html' %}



{% block content %}

<div class="text-center pt-2 m-4">

    <!-- Display flashed messages -->
    <!-- Display the error message -->
    {% if error_message %}
        <div class="alert alert-warning">{{ error_message }}</div>
    {% endif %}


    <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor" class="bi bi-exclamation-triangle-fill text-warning" viewBox="0 0 16 16">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </svg>
    <h1 class="mt-4">Oops! Page not found.</h1>
    <p>The page you are looking for might have been removed, had its name changed, or is temporarily unavailable.</p>
    <a href="/" class="btn btn-lg btn-secondary">Go to Homepage<span id="countdown"> 5</span></a>
</div>
{% endblock %}
