<div class="offcanvas offcanvas-start show text-bg-dark" tabindex="-1" id="offcanvasDark" aria-labelledby="offcanvasDarkLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkLabel">TechVerse</h5>
        <!-- <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button> -->
    </div>
    <div class="offcanvas-body">



        <div class="login-logout-buttons mb-3">
            <a href="{{ url_for('login') }}" class="btn btn-primary w-100 mb-2">Login</a>
            <a href="{{ url_for('logout') }}" class="btn btn-secondary w-100">Logout</a>
        </div>



        <hr>



        <div class="accordion" id="categoryAccordion">
            {% for category, subcategories in categories.items() %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading-{{ loop.index }}">
                    <button class="accordion-button my-accordion-btn-styles" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ loop.index }}" aria-expanded="true" aria-controls="collapse-{{ loop.index }}">
                        {{ category }}
                    </button>
                </h2>
                <div id="collapse-{{ loop.index }}" class="accordion-collapse collapse" aria-labelledby="heading-{{ loop.index }}" data-bs-parent="#categoryAccordion">
                    <div class="accordion-body">
                        <ul>
                            {% for subcategory in subcategories.subcategories %}

                            <li class="subcategory">
                                <a href="{{ url_for('view_category', category=subcategory) }}">{{ subcategory }}</a>
                            </li>

                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <hr>

        <form class="search-form mt-3">
            <input type="text" class="form-control mb-2" placeholder="Search...">
            <button type="submit" class="btn btn-outline-success w-100">Search</button>
        </form>
    </div>
</div>




<!-- 




<div class="offcanvas offcanvas-start bg-dark text-white" tabindex="-1" id="offcanvasSidebar" aria-labelledby="offcanvasSidebarLabel">


    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasSidebarLabel">Sidebar</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>


    <div class="offcanvas-body">
        <div class="login-logout-buttons mb-3">
            <button class="btn btn-primary w-100 mb-2">Login</button>
            <button class="btn btn-secondary w-100">Logout</button>
        </div>

        <hr>

        <div class="accordion" id="categoryAccordion">

            <div class="accordion-item">

                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        All Categories
                    </button>
                </h2>


                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#categoryAccordion">
                    <div class="accordion-body">
                    
                    </div>
                </div>
            </div>
        </div>
        

 
        <form class="search-form mt-3">
            <input type="text" class="form-control mb-2" placeholder="Search...">
            <button type="submit" class="btn btn-outline-success w-100">Search</button>
        </form>



    </div>
</div>
 -->