


<!-- Navbar that collapses when size of the screen gets to the lg breaking point and then the toggler is shown on the side of the brand -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark my-border-5-navbar border-radius-15 my-1">
    <div class="container-fluid">

        <!-- Right Links -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>




        <button href="#" data-bs-target="#sidebarColumn" data-bs-toggle="collapse" class="btn btn-secondary my-navbtn-styles m-2 p-2 me-auto">
            <i class="fa fa-navicon fa-lg py-2 p-1"></i> Menu
        </button>



        <div class="accordion bg-dark rounded" id="accordionExample">
            {% for category, details in categories.items() %}
                <div class="accordion-item bg-dark border-0">
                    <h2 class="accordion-header" id="heading-{{ loop.index }}">
                        <button class="accordion-button collapsed text-white bg-dark border-0" type="button" data-bs-toggle="collapse" data-bs-target="#category-{{ loop.index }}" aria-expanded="false" aria-controls="category-{{ loop.index }}">
                            <i class="fa {{ details.icon }} me-2"></i> {{ details.title }}
                        </button>
                    </h2>
                    <div class="accordion-collapse collapse" id="category-{{ loop.index }}" aria-labelledby="heading-{{ loop.index }}" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="d-grid gap-2">
                                {% for subcategory, subdetails in details.subcategories.items() %}
                                    <a class="text-white py-1" href="{{ url_for('navigation.view_category', category=category, subcategory=subcategory) }}">
                                        <i class="fa {{ subdetails.icon }} me-2"></i> {{ subdetails.title }}
                                    </a>
                                {% endfor %}
                            </div> 
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>


        <div class="collapse navbar-collapse" id="navbarNav">

            <!-- Center Brand -->
            <a class="navbar-brand w-100 text-center d-flex align-items-center justify-content-center hover-grow" href="{{ url_for('home') }}">TechVerse Blog</a>

            <ul class="navbar-nav ms-lg-auto navbar-header">

                {% for link in links %}
                    <li class="nav-item">
                        <a class="nav-link m-3 btn btn-outline-dark my-navbtn-styles" href="{{ link.url }}">{{ link.name }}</a>
                    </li>
                {% endfor %}''


            </ul>

        </div>

    </div>
</nav>

















