  /* -------------------------------------------------------------------- */
 /* ------------- --------- MY BUTTONS CSS ---------  -------------------- */
/* ------------------------------------------------------------------------ */
  /* -------------------------------------------------------------------- */
 /* ------------- --------- MY BUTTONS CSS ---------  -------------------- */
/* ------------------------------------------------------------------------ */




/* Override the btn bootstrap setting and slow down hover transition */
.btn {
  transition: background-color 0.6s ease-in-out, color 0.6s ease-in-out, box-shadow 0.6s ease-in-out, border-color 0.6s ease-in-out !important;
  /* 0.6 VIRÐIST VERA ÁGÆTASTA STILLINGIN Á TRANSITION */
}


  
  /* -------------------------------------------------------------------- */
  /* ----------  MAKE NICE GLOWING EFFECT ON THE BUTTONS  ----------------- */
/* ------------------------------------------------------------------------ */

/* Danger buttons glowing effect using box shadows */
.btn-danger {
  box-shadow: 0 0 10px rgba(220, 53, 69, 1.0);
}
.btn-danger:hover {
  box-shadow: 0 0 20px rgba(220, 53, 69, 1.0);
}
.btn-outline-danger {
  box-shadow: 0 0 10px rgba(220, 53, 69, 1.0);
}
.btn-outline-danger:hover {
  box-shadow: 0 0 20px rgba(220, 53, 69, 1.0);
}
@keyframes btn-outline-danger-box-shadow {
  0%, 100% {
    box-shadow: 0 0 10px rgba(220, 53, 69, 1.0);
  }
  50% {
    box-shadow: 0 0 20px rgba(220, 53, 69, 1.0);
  }
}
/* Apply the animation to the btn-outline-secondary button */
.toggle-btn-outline-danger-box-shadow {
  animation: btn-outline-danger-box-shadow 1s infinite !important;
}


/* ---------------------------------------------------- */


/* Secondary buttons glowing effect using box shadows */
.btn-secondary {
  box-shadow: 0 0 10px rgba(108, 117, 125, 1.0);
}
.btn-secondary:hover {
  box-shadow: 0 0 20px rgba(108, 117, 125, 1.0);
}
.btn-outline-secondary {
  box-shadow: 0 0 10px rgba(108, 117, 125, 1.0);
}
.btn-outline-secondary:hover {
  box-shadow: 0 0 20px rgba(108, 117, 125, 1.0);
}
/* ----- BOX SHADOW KEYFRAME ANIMATION EFFECT ON THE btn-outline-secondary BUTTON ----- */
@keyframes btn-outline-secondary-box-shadow {
  0%, 100% {
    box-shadow: 0 0 10px rgba(108, 117, 125, 1.0);
  }
  50% {
    box-shadow: 0 0 20px rgba(108, 117, 125, 1.0);
  }
}
/* Apply the animation to the btn-outline-secondary button */
.toggle-btn-outline-secondary-box-shadow {
  animation: btn-outline-secondary-box-shadow 1s infinite !important;
}


/* ---------------------------------------------------- */


.btn-info {
  box-shadow: 0 0 10px rgba(23, 162, 184, 1.0);
}
.btn-info:hover {
  box-shadow: 0 0 20px rgba(23, 162, 184, 1.0);
}
.btn-outline-info {
  box-shadow: 0 0 10px rgba(23, 162, 184, 1.0);
}
.btn-outline-info:hover {
  box-shadow: 0 0 20px rgba(23, 162, 184, 1.0);
}
/* ----- BOX SHADOW KEYFRAME ANIMATION EFFECT ON THE btn-outline-info TAKKANN ----- */
@keyframes btn-outline-info-box-shadow {
  0%, 100% {
    box-shadow: 0 0 10px rgba(23, 162, 184, 1.0);
  }
  50% {
    box-shadow: 0 0 20px rgba(23, 162, 184, 1.0);
  }
}
.toggle-btn-outline-info-box-shadow {
  animation: btn-outline-info-box-shadow 1s infinite !important;
}


/* ---------------------------------------------------- */


/* Warning buttons glowing effect using box shadows */
.btn-warning {
  box-shadow: 0 0 10px rgba(255, 193, 7, 1.0) !important;
}
.btn-warning:hover {
  box-shadow: 0 0 20px rgba(255, 193, 7, 1.0) !important;
}
.btn-outline-warning {
  box-shadow: 0 0 10px rgba(255, 193, 7, 1.0) !important;
}
.btn-outline-warning:hover {
  box-shadow: 0 0 20px rgba(255, 193, 7, 1.0) !important;
}
@keyframes btn-outline-warning-box-shadow {
  0%, 100% {
      box-shadow: 0 0 10px rgba(255, 193, 7, 1.0) !important;
  }
  50% {
    box-shadow: 0 0 20px rgba(255, 193, 7, 1.0) !important;
  }
}
.toggle-btn-outline-warning-box-shadow {
  animation: btn-outline-warning-box-shadow 1s infinite !important;
}


  
     /* ---------------------------------------------------------------------------------- */
  /* - BUTTON INFO GLOWING KEYFRAMES FOR BTN-INFO TO BTN-OUTLINE-INFO AND BACK TO BTN-INFO - */
     /* ---------------------------------------------------------------------------------- */
  @keyframes btn-info-to-btn-outline-info {
    0% { /* GET NOTAÐ LÍKA 0%, 100% { .. } TIL AÐ VELJA BÆÐI 0 OG 100% */
      color: white;
      background-color: rgba(23, 162, 184, 1.0); /* Initial background color for btn-outline-info */
      opacity: 1.0;
      border-color: white;
      box-shadow: 0 0 10px rgba(23, 162, 184, 1.0);
    }
    50% {
      color: #17a2b8;
      background-color: rgba(23, 162, 184, 0); 
      opacity: 1; 
      border-color: rgba(23, 162, 184, 1.0);
      box-shadow: 0 0 20px rgba(23, 162, 184, 1.0); 
    }
    100% {
      color: white;
      background-color: rgba(23, 162, 184, 1.0); 
      opacity: 1.0;
      border-color: white;
      box-shadow: 0 0 10px rgba(23, 162, 184, 1.0);
    }
  }
  .toggle-btn-info-to-btn-outline-info {
    animation: btn-info-to-btn-outline-info 3s infinite !important;
  }
  

  


  /* -------------------------------------------------------------------- */
 /* -------------  INVERTED BOOTSTRAP BUTTONS COLORS  -------------------- */
/* ------------------------------------------------------------------------ */

/* Invert the BS colors of the btn-outline-danger button class */
.inverted-btn-outline-danger {
  color: white;
  border-color: red;
  background-color: red;
}
.inverted-btn-outline-danger:hover {
  color: rgb(255, 0, 0);
  border-color: red;
  background-color: rgba(255, 255, 255, 0.0);
}
/* Invert the BS color of the btn-outline-secondary button class */
.inverted-btn-outline-secondary {
  color: white;
  border-color: #6c757d; /* Default Bootstrap gray color for outline-secondary */
  background-color: #6c757d;
}
.inverted-btn-outline-secondary:hover {
  color: #6c757d;
  border-color: #6c757d;
  background-color: rgba(255, 255, 255, 0.0);
}
/* Invert the BS color of the btn-outline-info button class */
.inverted-btn-outline-info {
  color: white;
  border-color: #17a2b8;
  background-color: #17a2b8;
}
.inverted-btn-outline-info:hover {
  color: #17a2b8;
  border-color: #17a2b8;
  background-color: rgba(255, 255, 255, 0.0);
}

.my-custom-btn-danger-confirm-deletion-of-item {
  background-color: rgba(220, 53, 69, 0.5) !important; /* This is the btn-danger color with 0.5 transparency */
}


  





  /* ---------------------------------------------------------------------------------- */
  /* ---------------------------------------------------------------------------------- */
  /* ---------------------------------------------------------------------------------- */
  
  
  
  
    /* --------------------------------------------------------- */
   /* ---------- SAMPLE KEYFRAMES FOR ANIMATING A OBJECT -------- */
  /* ------------------------------------------------------------- */
  /* @keyframes btn-outline-info-box-shadow {
    0% {
      box-shadow: 0 0 6px rgba(23, 162, 184, 1.0) !important;
    }
    50% {
      box-shadow: 0 0 20px rgba(23, 162, 184, 1.0) !important;
    }
    100% {
      box-shadow: 0 0 6px rgba(23, 162, 184, 1.0) !important;
    }
  } */
  /* ---------------------------------------------------------------------------------- */
  

