/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\---////////////////////////////////// */
/* \\\\\\\\\\\\\\\\\\      Author: Hreiðar Pétursson      //////////////// */
/* \\\\\\\\\\\\\\\\       Course:  Vefhönnun Áfangi 3       ////////////// */
/* \\\\\\\\\\\\\          -- Skilaverkefni 3 --              ///////////// */
/*  \\    Description: Enhances the website with styles and effects     // */
/*   \\  using  CSS for layout adjustments, enhancements, and custom   //  */
/*    \\      interactivity for a seamless user experience.           //   */
/*     \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\---///////////////////////////////    */

/* Importing Google Font */
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');


/* Custom Classes for Italic and Bold Text using Alegreya */
.my-font-italic {
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: italic;
}

.my-font-bold {
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

/* Additional body styles if needed */
body {
    font-weight: normal;
}



/* ************************************************* */
/* ----- ----- ----- Layout  Styles ----- ---- ----- */
/* ************************************************* */

/* General HTML and Body Styles */
html, body {
    height: 100%;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #212529 0%, #495057 100%);
    background-attachment: fixed; /* Keep the background fixed during scrolling */
    font-family: 'Alegreya', serif; /* Default font */
    font-weight: normal;
   /*  color: #FFF;  *//* Assuming you want a light color text */
}


body {
    color: var(--bs-light);
}


.master-container {
    max-width: 1200px;

    box-shadow: 0 0 5px rgba(108, 117, 125, 1) !important;
    border-radius: 25px !important;

    background-color: var(--bs-dark);

    display: flex;
    flex-direction: column;
}

/* ----- ----- ----- Layout  Styles ----- ---- ----- */
/* ************************************************* */




/* ************************************************* */
/* --- ----- ----- Navbar Menu Styles ----- ---- --- */
/* ************************************************* */

.my-nav-styles {
    /* This margin is between the brand and the first navbar dropdown button */
    margin-left: 30px;
}

.my-navbtn-styles {
    border-radius: 25px;
    min-width: 150px;
    white-space: nowrap;
    box-shadow: 0 0 5px rgba(108, 117, 125, 1) !important;
    transition: transform 0.3s ease, box-shadow 0.3s ease-in-out !important;

}

.my-navbtn-styles:hover {
    box-shadow: 0 0 10px rgba(108, 117, 125, 1) !important; /* Adjust the color to match btn-secondary */
    transform: scale(1.05); /* Enlarge text by 5% */
}

/* These style will apply when the navbar is open */
.navbar-collapse .my-navbtn-styles {
    display: block; /* Ensures each link is on a new line */
    text-align: center;
    border-radius: 15px;
    /* margin-bottom: 25px !important; */
    width: auto;
    box-sizing: border-box;
}


.my-accordion-btn-styles {
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(52, 58, 64, 1) !important; /* Updated to match btn-dark color */
    transition: transform 0.3s ease, box-shadow 0.3s ease-in-out !important;
}

.my-accordion-btn-styles:hover {
    box-shadow: 0 0 15px rgba(52, 58, 64, 1) !important; /* Adjust the color to match btn-dark */
    transform: scale(1.05); /* Enlarge text by 5% */
}
/* --- ----- ----- Navbar Menu Styles ----- ---- --- */
/* ************************************************* */













/* ************************************************* */
/* -- ----- ----- Dropdown Menu Styles ----- ---- -- */
/* ************************************************* */
.navbar .dropdown-menu {
    left: 50%; /* Start from the middle of the button */
    transform: translateX(-50%);
}

/* Dropdown menu styles */
.dropdown-menu {
    background-color: var(--bs-dark); /* Same as navbar background color */
    border: none;
    box-shadow: 0 0 5px rgba(108, 117, 125, 1); /* Subtle shadow for depth */
    border-radius: 15px;
}

.dropdown-item {
    color: var(--bs-light); /* Same as navbar text color */
    transition: transform 0.3s ease, background-color .2s ease-in-out; /* Smooth transition for the hover effects */
    text-align: center;
}

/* Settings for the hover and focus effects on the dropdown items */
.dropdown-item:hover, .dropdown-item:focus {
    background-color: var(--bs-secondary); /* Slightly lighter shade on hover and focus */
    color: var(--bs-dark); /* Dark text color on hover and focus */
    transform: scale(1.05);
}

/* -- ----- ----- Dropdown Menu Styles ----- ---- -- */
/* ************************************************* */













/* ************************************************* */
/* ----- --- Extras settings & adjustments --- ----- */
/* ************************************************* */
.border-radius-15 {
    border-radius: 15px;
}

.btn-dark {
    border-radius: 15px !important;
}
.btn-outline-dark {
    border-radius: 15px !important;
}

.card {
    box-shadow: 0 0 10px rgba(108, 117, 125, 1); /* Subtle shadow for depth */
}

/* Some greyish colors  */
.grey500 {
    background-color: var(--bs-gray-500);
}
.grey600 {
    background-color: var(--bs-gray-600);
}
.grey700 {
    background-color: var(--bs-gray-700);
}
.grey800 {
    background-color: var(--bs-gray-800);
}

.carousel-item {
    /* float: left; */
    /* width: 25% */ /* Show 4 items at a time */
}


/* ----- --- Extras settings & adjustments --- ----- */
/* ************************************************* */
