<!--
//////////////////////////////////// - \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
/////////////////        Author: Hreiðar Pétursson        \\\\\\\\\\\\\\\\
///////////////         Course: Vefhönnun Áfangi 3         \\\\\\\\\\\\\\\
/////////////               - Skilaverkefni 3 -             \\\\\\\\\\\\\\
///// Description: Lists items based on the selected category or \\\\\\\\\
////   genre, with infinite scrolling for dynamic content loading.   \\\\\
///       Manages dynamic listings with user interactions.           \\\\\
////////////////// for enhanced browsing experience. \\\\\\\\\\\\\\\\\\\\\
-->



<!-- Injected information: 
return render_template('listings.html', items=items.get('results', []), title=title, item_type=item_type)
-->

{% extends 'base.html' %}

{% block content %}
<div class="container my-4">
    <div class="row text-center mb-4">
        <h1>{{ title }}</h1>
    </div>
    <div id="listingRow" class="row" data-listing-type="{{ item_type }}">  <!-- Dynamic listing type attribute -->
        <hr>
        {% for item in items %}
            {% include 'partials/card.html' %}
        {% endfor %}
    </div>

    <!-- Load More Button row - only displays when user has scrolled worth of two pages down. Load more then appears every 2 pages worth of items scrolled -->
    <div class="row">
        <div class="col text-center d-flex justify-content-center">
            <button id="loadMore" class="btn btn-lg btn-secondary mt-4 w-75 border-radius-15" style="display: none;">Load More</button>
        </div>
    </div>
</div>
{% endblock %}

<!--

Storage code:

        {% for item in items %}
        <div class="col-sm-6 col-md-3 mb-4">
            <div class="card bg-secondary h-100 border-radius-15">
                
                <div class="d-flex justify-content-center" style="max-height: 100%;">
                    <div style="width: 300px; height: 300px; overflow: hidden; border-radius: 15px;">
                        <img src="https://image.tmdb.org/t/p/w780{{ item['poster_path'] }}" class="card-img-top img-fluid" alt="{{ item['title'] or item['name'] }}" style="object-fit: cover; width: 100%; height: 100%;">
                    </div>
                </div>
                
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title bold-text">{{ item['title'] or item['name'] }}</h5>
                    <p class="card-text">{{ item['overview'][0:150] }}...</p>
                    <div class="mt-1">
                        <p class="card-text semi-bold-text">Release Date: {{ item.get('release_date', 'N/A') }}</p>
                    </div>
                </div> 

                
                <div class="card-footer">
                    <a href="{{ url_for('show_details', item_id=item['id'], item_type=item_type) }}" class="btn btn-dark w-100">See More Details</a>

                </div>
            </div>
        </div>
        {% else %}
        <p>No items found.</p>
        {% endfor %}



-->