<!-- 
    Hérna ætla ég að hafa sér method sem sækir 10 items (eða 20 sem er heil síða)
    og displayar þau carousel fyrir carousel en fyrst þarf method til að sækja öll 
    gögnin úr öllum flokkum sem eru í boði á síðunni og ég þarf líka að bæta við 
    öðrum drop down button og vill að hann sýni nokkra aðra valmöguleika af endpoints 
    fyrir tmdb API möguleikana 
-->

{% extends "base.html" %}


{% block content %}


<h1 class="text-center">Welcome to my TMDB API Website</h1>

{% endblock %}

