



<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="container-fluid">


        <a class="navbar-brand" href="#">Blog</a>


        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <button class="btn btn-outline-primary d-lg-none" type="button" data-toggle="offcanvas" data-target="#offcanvasDark" aria-controls="offcanvasDark">
            Menu
        </button>


        <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav me-auto">



                {% for link in links %}

                <li class="nav-item">
                    <a class="nav-link my-navbtn-styles m-3" href="{{ link.url }}">{{ link.name }}</a>
                </li>

                {% endfor %}



            </ul>
        </div>
    </div>
</nav>


















<!-- 
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Blog</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <button class="btn btn-outline-primary d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">
            Menu
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">




                {% for link in links %}

                <li class="nav-item">
                    <a class="nav-link my-navbtn-styles m-3" href="{{ link.url }}">{{ link.name }}</a>
                </li>

                {% endfor %}



            </ul> 




            <ul class="navbar-nav ms-auto">
     



                <li class="nav-item d-lg-none">
                    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDark" aria-controls="offcanvasDark">
                        Toggle Sidebar
                    </button>
                </li>
            </ul>



        </div>
        



    </div> 
</nav> 
 -->